:root{
  --corPadraoTexto: #fff;
  --primary1: #182546;
  --primary2: #053247;
  --primary3: #065360;
  --primary4: #23bcc3;
  --fonte1: "Poppins", sans-serif;
  --fonte2: "Fleur De Leah", cursive;
}

.flex-column{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flex-center{
  display: flex;
  align-items: center;
  gap: 5px;
}

.flex-start{
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: flex-start;
}

.flex-space{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.filter-blur{
  background: var(--primary1);
}

.flex-justify{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


h6{
  color: var(--corPadraoTexto)
}

/* </TAG>.login */
html, body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body.login{
  background-image: url(../img/wallpaper-azul-gradient.avif);
  background-size: cover;
  background-repeat: no-repeat;
  padding-block: 5%;
  padding-inline: 34%;
}

main.login{
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
}

main.login section.login{
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 10px;
}

main.login section.top,
main.login section.bottom{
  flex: 1;
}

main.login section.top{
  background-image: url(../img/vale-monte-sol-image.avif);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  h1{
    margin-top: 20px;
    color: var(--corPadraoTexto);
    font-weight: 500;
    line-height: 30px;
    font-size: 20px;
  }
}

main.login section.bottom{
  background-color: var(--corPadraoTexto);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  h1{
    margin-block: 30px 15px;
    font-weight: 550;
  }

  form{
    gap: 20px;
  }

  div.camposLogin{
    width: 60%;
    padding-block: 1%;
    background-color: var(--primary2);
    border: none;
    padding-inline: 1vh;
    border-radius: 50px;
    border: 1px solid var(--primary3);
  }

  input[type="user"]::placeholder,
  input[type="password"]::placeholder{
    color: var(--primary4);
  }

  input[type="user"],
  input[type="password"]{
    background-color: transparent;
    border: none;
    color: var(--corPadraoTexto);
    width: 100%;
    max-width: 120%;
  }

  input:focus{
    outline: none;
  }

  i{
    color: var(--corPadraoTexto);
  }

  div.remember{
    max-width: 60%;
    p, a{
      color: var(--primary4);
      font-size: 12px;
    }
  }

  button{
    background-color: var(--primary2);
    color: var(--corPadraoTexto);
    border-color: var(--primary3);
    padding: 5px 10px;
  }
}

/* <TAG>.main */
